<div class="container text-center">
  <% render 'shared/errors' %>

  <div style="margin: 0 25%; width: 50%" id="form-container">
    
    <%= form_with(model: @recipe) do |f| %>
      <div class="mb-3">
        <%= f.label :name, "Name: " %><br>
          <%= f.text_field :name %>
      </div>
      <div class="mb-3">
          <%= f.label :ingredients, "Ingredients: " %><br>
          <%= f.text_area :ingredients %>
      </div>
      <div class="mb-3">
          <%= f.label :istructions, "Instructions: " %><br>
          <%= f.text_area :instructions %>
      </div>
        <%= f.submit "Save Recipe", class:"link btn btn-primary"%>
  </div>   
  <% end %>
</div>