<div class="container">
    <div class="row">
        <% recipes.each do |recipe| %>
        <div class="col-md-3 mb-3">
        <div class="card">
            <%= image_tag recipe.image_path, class: "card-img-top" %>
            <div class="card-header">
            <% if recipe.user %>
            <%= link_to recipe.user.username, user_path(recipe.user)  %>
            <div class="card-body text-center">
                <h5 class="card-title"><%= recipe.name%></h5>
            <% end %>
                <p class="card-text">Ingredients: <%= recipe.ingredients %></p>
                <p class="card-text">Instructions: <%= recipe.instructions %></p>
                <%= link_to 'Show', recipe_path(recipe), class:"link btn btn-outline-warning" %>
                <% if logged_in? && recipe.user == current_user || current_user.admin %>
                    <%= link_to 'Edit', edit_recipe_path(recipe), class:"link btn btn-outline-success" %>
                    <%= link_to 'Delete', recipe_path(recipe), method: :delete, class:"link btn btn-outline-dark" %>
                <% end %> 
            </div>
            <div class="card-footer">
                <small class="text-muted">Last Updated</small>
            </div>
            </div>
        </div>
    </div>
    <% end %>
    
</div>
</div>
<br>