<h1 class="text-center">From the Recipe Library</h1>

<div class="card" style="margin: 0 25%; width: 50%">
    <img src="<%= @recipe.image_path%>" class="card-img-top, img-thumbnail" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center"><strong><%= @recipe.name %></strong></h5>
    </div>
    <div class="card-header text-center">
      <%= "by " + @recipe.user.username if @recipe.user %>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>Ingredients: </strong><%= @recipe.ingredients %></li>
      <li class="list-group-item"><strong>Instructions: </strong><%= @recipe.instructions %></li>
    </ul>
    <div class="card-body text-center">
        <%= link_to 'Return', recipes_path, class:"link btn btn-outline-warning"%>
        <%= link_to 'Edit', edit_recipe_path(@recipe), class:"link btn btn-outline-success" %>
        <%= link_to 'Delete', recipe_path(@recipe), method: :delete, data: {confrim: "Are you sure you want to delete?"}, class:"link btn btn-outline-dark" %>
    </div>
  </div>
  </div>
  <br>
  