<div >
    <div class="container text-center"style="margin: 0 25%; width: 50%" id="form-container">
      <%= render 'shared/errors', obj: @user, class:"text-align-right" %>
      <%= form_with(model: @user) do |f| %>
        
        <div class="form-group row">
          <%= f.label :username, "Username", class: "col-2 col-form-label text-light"%>
          <div class="col-10">
            <%= f.text_field :username, class: "form-control shadow rounded", placeholder: "Enter a Username" %>
          </div>
        </div>
        <br>
        <div class="form-group row">
              <%= f.label :email, "Email: ", class: "col-2 col-form-label text-light"%><br>
            <div class="col-10">
              <%= f.text_area :email, class: "form-control shadow rounded", placeholder: "Enter a valid email address" %>
            </div>
        </div>
        <br>
        <div class="form-group row">
          <%= f.label :paswword, "Password: ", class: "col-2 col-form-label text-light"%><br>
          <div class="col-10">
            <%= f.text_area :password, class: "form-control shadow rounded", placeholder: "Enter a unique password" %>
          </div>
        </div>
        <br>
          <%= f.submit(@user.new_record? ? "Sign Up" : "Edit Profile" , class:"link btn btn-outline-success") %>
    </div>   
    <% end %>
  </div>
  
  