<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <%= link_to "Seasonal Plate", root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Recipes
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to "About", about_path, class: "dropdown-item" %></li>
              <li><%= link_to "Recipes", recipes_path, class: "dropdown-item" %></li>
              <li><%= link_to "Recipes by Season", categories_path, class: "dropdown-item" %></li>
              <li><%= link_to "Recipes by Type", kinds_path, class: "dropdown-item" %></li>
              <li><%= link_to "Recipe Contributors", users_path, class: "dropdown-item" %></li>
              <% if logged_in? %>
                <li><%= link_to "Create New Recipe", new_recipe_path, class: "dropdown-item" %></li>
              <% end %> 
              <% if logged_in? && current_user.admin? %>
              <li>
                <%= link_to "Create New Recipe Type", new_kind_path, class: "dropdown-item" %>
              </li>
              <% end %> 
            </ul>
          </li>

          
          <% if logged_in? %>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
             > <%= "(Admin)" if @current_user.admin? %> <%= @current_user.username %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <%= link_to "View Profile", user_path(@current_user),
                class:"dropdown-item" %>
              </li>
              <li>
                <%= link_to "Edit Profile", edit_user_path(@current_user), class:
                "dropdown-item"%>
              </li>
              <li>
                <%= button_to "Delete Profile", user_path(@current_user), class:
                "dropdown-item"%>
              </li>
            </ul>
          </li>
          <% end %>

          <% if logged_in? %>
          <li class="nav-item"><%= button_to "Log Out", logout_path, class: "nav-link button-link", method: :delete %>
          </li> 
          <% else %>
          <li class="nav-item"><%= link_to "Log In", login_path, class: "nav-link" %>
          </li>
          <li class="nav-item"><%= link_to "Sign Up", signup_path, class: "nav-link" %>
          </li>
          <% end %>

        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>